// compress: true

@import "reset";
@import "vars";
@import "vendor";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0 0 1rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;

  // background-color:   darkcyan
}


@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/works";
@import "blocks/work";
@import "blocks/portfolio";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/news";


@import "helpers";