// main: ../style.less

.intro__inner {
  .dflex;
  padding: 10rem 0 12rem;
  position: relative;

  background: url("../images/back.png") right top no-repeat;
  background-size: 50%;
  border-bottom: 1px solid fade(@gray, 30%);

  @media @tablet {
    padding: 4rem 0 5rem;
  }
}

.intro__content {
  width: 50%;
}

.intro__subtitle {
  margin-bottom: 0.4rem;

  font-size: 3.2rem;
  color: @black;
  font-weight: 200;

  @media @tablet {
    font-size: 2rem;
  }
}

.intro__title {
  margin-bottom: .6rem;

  font-size: 4.5rem;
  font-weight: 700;
  color: @black;

  @media @tablet {
    font-size: 3rem;
  }
}

.intro__text {
  margin-bottom: 2.5rem;

  font-size: 1.8rem;
  color: fade(@black, 70%);
}

.intro__photo {
  position: absolute;
  right: 13.5rem;
  bottom: 0;

  @media @tablet {
    width: 25rem;
  }
}