// main: ../style.less

.modal {
  .dflex;
  padding: 1rem;
  .w100;
  .h100;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: fade(@black, 80%);
  background-color: rgba(6, 15, 49, .9);
  z-index: 1000;
  overflow: auto;
  // display: none;
}

.modal__dialog {
  .w100;
  max-width: @grid-width;
  margin: auto;
  position: relative;

  background-color: @white;
}

.modal__close {
  .nobtn;

  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  z-index: 1;
  
  transition: transform .2s linear;
  
  &:hover {
    transform: rotate(-90deg);
  }
}