// main: ../style.less

.modal {
  .dflex;
  .w100;
  .h100;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: fade(@black, 80%);
  background-color: rgba(6, 15, 49, .9);
  z-index: 1000;
  overflow: auto;

  display: none;

  &.show {
    display: flex;
  }
}

.modal__dialog {
  .w100;
  max-width: @grid-width;
  margin: auto;
  position: relative;

  background-color: @white;

  transform: rotateX(90deg);
  transition: transform .2s linear;

  &--sm {
    max-width: 90rem;
  }
}

.modal__close {
  .nobtn;

  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  z-index: 1;
  
  transition: transform .2s linear;
  
  &:hover {
    transform: rotate(-90deg);
  }
}

.modal__content {
  padding: 7.5rem 1.5rem;
}

.modal__title {
  margin-bottom: 7.7rem;

  font-size: 4.5rem;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
}

.modal__subtitle {
  margin-top: 1rem;

  font-size: 1.6rem;
  text-transform: uppercase;
  color: @black;
  font-weight: 400;
}