// main: ../style.less

.social {
  .dflex;
  margin-bottom: 4.2rem;

  @media @mobile-sm {
    .jcenter;
  }
}

.social__link {
  margin-right: 1rem;

  transition: transform .2s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: translateY(-.5rem);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: .8rem;
  }
}